<div class="box box-info">
  <div class="box-header with-border">
    <a [routerLink]="['/g-social']" class="btn btn-sm btn-default">
      <span class="glyphicon glyphicon-chevron-left"></span> Back
    </a>&nbsp;
    <a [routerLink]="['/g-social/edit/' + result.id]" class="btn btn-sm btn-warning">
      <span class="glyphicon glyphicon-edit"></span> Edit
    </a>&nbsp;
    <h3 class="box-title">G-Social Detail</h3>
    <div class="box-tools pull-right">
      <span class="label label-primary">Label</span>
    </div>
  </div>
  <div class="box-body">
    <div class="row">
      <div class="col-md-6">
        <img src="{{result.imageBannerName}}" class="img-rounded" width="100%" alt="Cinque Terre">
      </div>
      <div class="col-md-6">
        <table class="table table-striped">
          <tbody>
            <tr><th>Title</th><td> {{result.title}}</td></tr>
            <tr><th>Date</th><td> {{result.dateStart | date:'dd/MM/yyyy'}} - {{result.dateEnd | date:'dd/MM/yyyy'}}</td></tr>
            <tr><th>City</th><td> {{result.city}}</td></tr>
            <tr><th>Location</th><td> {{result.location}}</td></tr>
            <tr><th>Quota</th><td> {{result.quota}}</td></tr>
            <tr><th>Join Limit</th><td> {{result.joinLimit}}</td></tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row" style="margin-top: 5px">
      <div class="col-md-12">
        <p style="text-align: justify">
          <b>Deskripsi : </b> {{(showMoreDesc) ? result.description : result.description | slice:0:500}}
          <span *ngIf="!showMoreDesc">...</span>
          <a href="javascript:;" *ngIf="!showMoreDesc" (click)="showMoreDesc=true">[Show More]</a>
          <a href="javascript:;" *ngIf="showMoreDesc" (click)="showMoreDesc=false">[Show Less]</a>
        </p>
        <p style="text-align: justify">
          <b>Syarat & Ketentuan : </b> {{(showMoreTerms) ? result.termsCondition : result.termsCondition | slice:0:500}}
          <span *ngIf="!showMoreTerms">...</span>
          <a href="javascript:;" *ngIf="!showMoreTerms" (click)="showMoreTerms=true">[Show More]</a>
          <a href="javascript:;" *ngIf="showMoreTerms" (click)="showMoreTerms=false">[Show Less]</a>
        </p>
      </div>
    </div>
    <nav aria-label="breadcrumb" style="margin-top: 5px">
      <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page">Member Registrasi</li>
      </ol>
    </nav>
    <ag-grid-angular
      style="width: 100%; margin-top: -15px"
      class="ag-theme-alpine"
      [rowData]="rowData"
      [gridOptions]="gridOptions"
      (gridReady)="gridOptions.onGridReady($event)"
    ></ag-grid-angular>
  </div>
</div>
