<div class="box box-info">
  <div class="box-header with-border">
    <a [routerLink]="['/g-social']" class="btn btn-sm btn-default">
      <span class="glyphicon glyphicon-chevron-left"></span> Back
    </a>&nbsp;
    <h3 class="box-title">G-Social</h3>
    <div class="box-tools pull-right">
      <span class="label label-primary">Label</span>
    </div>
  </div>
  <div class="box-body">
    <form [formGroup]="angForm" novalidate>
      <input type="text" class="form-control" formControlName="id" style="display: none">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-2">
              <h5>Title</h5>
            </div>
            <div class="col-md-10">
              <div class="form-group">
                <input type="text" class="form-control" formControlName="title">
                <control-messages [control]="angForm.get('title')"></control-messages>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-2">
              <h5>Date</h5>
            </div>
            <div class="col-md-10">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="date" class="form-control" formControlName="dateStart">
                    <control-messages [control]="angForm.get('dateStart')"></control-messages>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="date" class="form-control" formControlName="dateEnd">
                    <control-messages [control]="angForm.get('dateEnd')"></control-messages>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-2">
              <h5>Description</h5>
            </div>
            <div class="col-md-10">
              <div class="form-group">
                <textarea rows="4" type="text" class="form-control" formControlName="description"></textarea>
                <control-messages [control]="angForm.get('description')"></control-messages>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-2">
              <h5>Terms & Condition</h5>
            </div>
            <div class="col-md-10">
              <div class="form-group">
                <textarea rows="4" type="text" class="form-control" formControlName="termsCondition"></textarea>
                <control-messages [control]="angForm.get('termsCondition')"></control-messages>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-2">
              <h5>City</h5>
            </div>
            <div class="col-md-10">
              <div class="form-group">
                <ng-select2
                  class="custom"
                  width="100%"
                  formControlName="city"
                  [data]="city"
                  [placeholder]="'Please select a city...'">
                </ng-select2>
                <control-messages [control]="angForm.get('city')"></control-messages>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-2">
              <h5>Join Limit</h5>
            </div>
            <div class="col-md-10">
              <div class="form-group">
                <input type="number" class="form-control" formControlName="joinLimit">
                <control-messages [control]="angForm.get('joinLimit')"></control-messages>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-2">
              <h5>Location</h5>
            </div>
            <div class="col-md-10">
              <div class="form-group">
                <input type="text" class="form-control" formControlName="location">
                <control-messages [control]="angForm.get('location')"></control-messages>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-2">
              <h5>Quota</h5>
            </div>
            <div class="col-md-10">
              <div class="form-group">
                <input type="number" class="form-control" formControlName="quota">
                <control-messages [control]="angForm.get('quota')"></control-messages>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-2">
              <h5>Banner</h5>
            </div>
            <div class="col-md-10">
              <div class="form-group">
                <input type="file" class="form-control" accept="image/*" formControlName="image" (change)="onFileChanged($event)">
                <control-messages [control]="angForm.get('image')"></control-messages>
                <img src="{{angForm.controls['imageTemp'].value}}" height="100px" style="margin-top: 10px">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div *ngIf="angForm.controls['id'].value == null">
            <a (click)="insert()" class="btn btn-success">
              <span class="glyphicon glyphicon-floppy-save"></span> Save
            </a> &nbsp;
          </div>
          <div *ngIf="angForm.controls['id'].value != null">
            <a (click)="update()" [disabled]="!angForm.valid" class="btn btn-primary">
              <span class="glyphicon glyphicon-floppy-save"></span> Update
            </a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
