<div class="box box-info" *ngIf="showTable">
  <div class="box-header with-border">
    <h3 class="box-title">G-News</h3>
    <div class="box-tools pull-right">
      <span class="label label-primary">Label</span>
    </div>
  </div>

  <div class="box-body">
    <a (click)="create()" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Tambah</a>
    <br><br>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>No</th>
        <th>Judul</th>
        <th>Tanggal</th>
        <th>Deskripsi</th>
        <th>Lokasi</th>
        <th>Syarat & Ketentuan</th>
        <th width="10%">#</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>No</td>
        <td>Judul</td>
        <td>Tanggal</td>
        <td>Deskripsi</td>
        <td>Lokasi</td>
        <td>Syarat</td>
        <td>
          <a (click)="edit()" class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-pencil"></span></a>&nbsp;
          <a (click)="delete()" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="box box-info" *ngIf="showForm">
  <div class="box-header with-border">
    <a (click)="back()" class="btn btn-sm btn-default">Back</a>&nbsp;
    <h3 class="box-title">G-News</h3>
    <div class="box-tools pull-right">
      <span class="label label-primary">Label</span>
    </div>
  </div>
  <div class="box-body">
    <form [formGroup]="angForm" novalidate>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-2">
              <h5>Title</h5>
            </div>
            <div class="col-md-10">
              <div class="form-group">
                <input type="text" class="form-control" formControlName="title">
                <div *ngIf="angForm.controls['title'].invalid && (angForm.controls['title'].dirty)" class="">
                  <div *ngIf="angForm.controls['title'].errors.required">
                    <span style="color: red">Title is required.</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-2">
              <h5>Date</h5>
            </div>
            <div class="col-md-10">
              <div class="form-group">
                <input type="date" class="form-control" formControlName="date">
                <div *ngIf="angForm.controls['date'].invalid && (angForm.controls['date'].dirty)" class="">
                  <div *ngIf="angForm.controls['date'].errors.required">
                    <span style="color: red">Date is required.</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-2">
              <h5>Description</h5>
            </div>
            <div class="col-md-10">
              <div class="form-group">
                <textarea rows="4" type="text" class="form-control" formControlName="description"></textarea>
                <div *ngIf="angForm.controls['description'].invalid && (angForm.controls['description'].dirty)" class="">
                  <div *ngIf="angForm.controls['description'].errors.required">
                    <span style="color: red">Description is required.</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-2">
              <h5>Location</h5>
            </div>
            <div class="col-md-10">
              <div class="form-group">
                <input type="text" class="form-control" formControlName="location">
                <div *ngIf="angForm.controls['location'].invalid && (angForm.controls['location'].dirty)" class="">
                  <div *ngIf="angForm.controls['location'].errors.required">
                    <span style="color: red">Location is required.</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-2">
              <h5>Terms & Condition</h5>
            </div>
            <div class="col-md-10">
              <div class="form-group">
                <input type="text" class="form-control" formControlName="termsCondition">
                <div *ngIf="angForm.controls['termsCondition'].invalid && (angForm.controls['termsCondition'].dirty)" class="">
                  <div *ngIf="angForm.controls['termsCondition'].errors.required">
                    <span style="color: red">Terms & Condition is required.</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-2">
              <h5>Banner</h5>
            </div>
            <div class="col-md-10">
              <div class="form-group">
                <input type="file" class="form-control" formControlName="file">
                <div *ngIf="angForm.controls['file'].invalid && (angForm.controls['file'].dirty)" class="">
                  <div *ngIf="angForm.controls['file'].errors.required">
                    <span style="color: red">.</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
