<div class="hold-transition login-page">
  <div class="login-box">
    <!-- /.login-logo -->
    <div class="login-box-body">
      <div class="login-logo">
        <img src="../../../assets/img/logo-garda.png">
        <br>
        <a routerLink="/"><b>Garda Digital</b></a>
      </div>
      <p class="login-box-msg">Sign in to start your session</p>

      <form [formGroup]="angForm" novalidate>
        <div class="form-group has-feedback">
          <input type="text" class="form-control" placeholder="Username" formControlName="username">
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          <div *ngIf="angForm.controls['username'].invalid && (angForm.controls['username'].dirty)" class="">
            <div *ngIf="angForm.controls['username'].errors.required">
              <span style="color: red">Username is required.</span>
            </div>
          </div>
        </div>
        <div class="form-group has-feedback">
          <input type="password" class="form-control" placeholder="Password" formControlName="password">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          <div *ngIf="angForm.controls['password'].invalid && (angForm.controls['password'].dirty)" class="">
            <div *ngIf="angForm.controls['password'].errors.required">
              <span style="color: red">Password is required.</span>
            </div>
          </div>
        </div>
        <div *ngIf="isLoginFailed == true" class="">
          <div class="alert alert-danger">
            <span class="glyphicon glyphicon-info-sign"></span>
            Login Failed
          </div>
        </div>
        <div class="row">
          <div class="col-xs-8">
            <div class="checkbox icheck">
              <label style="display: none">
                <div class="icheckbox_square-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0; padding: 0; background: rgb(255, 255, 255); border: 0; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0; padding: 0; background: rgb(255, 255, 255); border: 0; opacity: 0;"></ins></div> Remember Me
              </label>
            </div>
          </div>
          <div class="col-xs-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat" (click)="login()">Sign In</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <div class="social-auth-links text-center" style="display: none">
        <p>- OR -</p>
        <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using
          Facebook</a>
        <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using
          Google+</a>
      </div>
      <!-- /.social-auth-links -->

      <a routerLink="/login">I forgot my password</a><br>
      <a routerLink="/register" class="text-center">Register a new membership</a>

    </div>
    <!-- /.login-box-body -->
  </div>
</div>
