<router-outlet></router-outlet>

<ngx-spinner>
<!--  type="ball-scale-multiple"-->
<!--  template="<img src='../../../assets/img/logo-garda.png' />">-->
<!--  <p style="font-size: 20px; color: white">Loading...</p>-->
</ngx-spinner>

<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">G-Social</h3>
    <div class="box-tools pull-right">
      <span class="label label-primary">Label</span>
    </div>
  </div>
  <div class="box-body">
    <a [routerLink]="['/g-social/add']" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Tambah</a>
    <ag-grid-angular
      style="width: 100%; margin-top: 10px"
      class="ag-theme-alpine"
      [rowData]="rowData"
      [gridOptions]="gridOptions"
      (gridReady)="gridOptions.onGridReady($event)"
    >
    </ag-grid-angular>
  </div>
</div>
