<mk-box header="" [isCollapsable]="true" [isRemovable]="true">
  Last login : {{loginTime}} <br>
  <p>Selamat datang di Garda Digital Indonesia Admin Panel</p>
</mk-box>

<div class="row">
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-aqua">
      <div class="inner">
        <h3>#</h3>

        <p>Get G-Coins</p>
      </div>
      <div class="icon">
        <i class="ion ion-social-bitcoin"></i>
      </div>
      <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-green">
      <div class="inner">
        <h3>#<sup style="font-size: 20px"></sup></h3>

        <p>Tukar G-Coins</p>
      </div>
      <div class="icon">
        <i class="ion ion-star"></i>
      </div>
      <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-yellow">
      <div class="inner">
        <h3>#</h3>

        <p>History</p>
      </div>
      <div class="icon">
        <i class="ion ion-android-time"></i>
      </div>
      <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-red">
      <div class="inner">
        <h3>#</h3>

        <p>Others</p>
      </div>
      <div class="icon">
        <i class="ion ion-pie-graph"></i>
      </div>
      <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <!-- ./col -->
</div>
