<div class="row">
  <div class="col-md-3 col-xs-12">
    <mk-box-info header="Messages" iconBackgroundColor="aqua" iconStyleClass="fa fa-envelope-o">
      1,410
    </mk-box-info>
  </div>
  <div class="col-md-3 col-xs-12">
    <mk-box-info header="Bookmarks" iconBackgroundColor="green" iconStyleClass="fa fa-flag-o">
      410
    </mk-box-info>
  </div>
  <div class="col-md-3 col-xs-12">
    <mk-box-info header="Uploads" iconBackgroundColor="yellow" iconStyleClass="fa fa-flag-o">
      13,648
    </mk-box-info>
  </div>
  <div class="col-md-3 col-xs-12">
    <mk-box-info header="Uploads" iconBackgroundColor="red" iconStyleClass="fa fa-star-o">
      93,139
    </mk-box-info>
  </div>
</div>

<div class="row">
  <div class="col-md-3 col-xs-12">
    <mk-box-info header="Bookmarks" footer="70% Increase in 30 Days" progressWidth="70" backgroundColor="aqua" iconStyleClass="fa fa-bookmark-o">
      41,410
    </mk-box-info>
  </div>
  <div class="col-md-3 col-xs-12">
    <mk-box-info header="Likes" footer="70% Increase in 30 Days" progressWidth="70" backgroundColor="green" iconStyleClass="fa fa-thumbs-o-up">
      41,410
    </mk-box-info>
  </div>
  <div class="col-md-3 col-xs-12">
    <mk-box-info header="Events" footer="70% Increase in 30 Days" progressWidth="70" backgroundColor="yellow" iconStyleClass="fa fa-calendar">
      41,410
    </mk-box-info>
  </div>
  <div class="col-md-3 col-xs-12">
    <mk-box-info header="Comments" footer="70% Increase in 30 Days" progressWidth="70" backgroundColor="yellow" iconStyleClass="fa fa-comments-o">
      41,410
    </mk-box-info>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-xs-12">
    <mk-box header="Info Box with text header & footer" [isRemovable]="false">
      <pre><code class="language-html">&lt;mk-box-info header="Headers text" footer="Footer text" progressWidth="70" backgroundColor="yellow" iconStyleClass="fa fa-comments-o"&gt;
  Content text
&lt;/mk-box-info&gt;</code></pre>
    </mk-box>
  </div>
  <div class="col-md-6 col-xs-12">
    <mk-box header="Info Box with HTML header & footer" [isRemovable]="false">
      <pre><code class="language-html">&lt;mk-box-info progressWidth="70" backgroundColor="yellow" iconStyleClass="fa fa-comments-o"&gt;
  &lt;mk-box-info-header&gt;Headers HTML&lt;/mk-box-info-header&gt;
  &lt;mk-box-info-content&gt;Content HTML&lt;/mk-box-info-content&gt;
  &lt;mk-box-info-footer&gt;Footer HTML&lt;/mk-box-info-footer&gt;
&lt;/mk-box-info&gt;</code></pre>
    </mk-box>
  </div>
</div>

<mk-box header="Properties" [isRemovable]="false" contentClasses="table-responsive">
  <table class="table table-bordered table-hover">
    <tbody>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Default</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>backgroundColor</td>
        <td>string (aqua | green | red | yellow)</td>
        <td>null</td>
        <td>The box background color.</td>
      </tr>
      <tr>
        <td>contentStyleClass</td>
        <td>string</td>
        <td>info-box-number</td>
        <td>The box content style classes.</td>
      </tr>
      <tr>
        <td>contentColor</td>
        <td>string (green | aqua | light-blue | red | yellow | mutted | rgb | rgba | hex)</td>
        <td>null</td>
        <td>The box content font color.</td>
      </tr>
      <tr>
        <td>footer</td>
        <td>string</td>
        <td>null</td>
        <td>
          Footer text of the panel.<br/>
          <em>Note: You can use &lt;mk-box-info-footer&gt; for HTML footer.</em>
        </td>
      </tr>
      <tr>
        <td>footerColor</td>
        <td>string (green | aqua | light-blue | red | yellow | mutted | rgb | rgba | hex)</td>
        <td>null</td>
        <td>The box footer font color.</td>
      </tr>
      <tr>
        <td>footerStyleClass</td>
        <td>string</td>
        <td>progress-description</td>
        <td>The box footer style classes.</td>
      </tr>
      <tr>
        <td>header</td>
        <td>string</td>
        <td>null</td>
        <td>
          Headers text of the box.<br/>
          <em>Note: You can use &lt;mk-box-info-header&gt; for HTML header.</em>
        </td>
      </tr>
      <tr>
        <td>headerColor</td>
        <td>string (green | aqua | light-blue | red | yellow | mutted | rgb | rgba | hex)</td>
        <td>null</td>
        <td>The box header font color.</td>
      </tr>
      <tr>
        <td>headerStyleClass</td>
        <td>string</td>
        <td>info-box-text</td>
        <td>The box header style classes.</td>
      </tr>
      <tr>
        <td>iconBackgroundColor</td>
        <td>string (aqua | green | red | yellow)</td>
        <td>null</td>
        <td>The box icon background color.</td>
      </tr>
      <tr>
        <td>iconColor</td>
        <td>string (green | aqua | light-blue | red | yellow | mutted | rgb | rgba | hex)</td>
        <td>null</td>
        <td>The box icon font color.</td>
      </tr>
      <tr>
        <td>iconStyleClass</td>
        <td>string</td>
        <td>ion ion-bag</td>
        <td>The box icon style classes.</td>
      </tr>
      <tr>
        <td>progressWidth</td>
        <td>number</td>
        <td>null</td>
        <td>The progress bar width of the box in percentage.</td>
      </tr>
      <tr>
        <td>styleClass</td>
        <td>string</td>
        <td>info-box</td>
        <td>The box style classes.</td>
      </tr>
    </tbody>
  </table>
</mk-box>
